@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: red;
  --spacing-md: 400px;
  --spacing-sm: 20px;
  --spacing-lg: 40px;
  --radius-container: 20px;
}
